.menu {
  padding: 100px 0;
  background: center / cover no-repeat url(../images/background_menu.svg) #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__title {
  margin: 0 0 24px;
  max-width: 780px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  max-width: 780px;
  margin: 0 0 100px;
  text-align: center;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}
